/* Inserta tu codigo aqui */
.titulo h1 {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 0;
	color: #0F023F;
	padding-left: 50px;
	padding-right: 10px;
}
#menu li {
	display: inline;
}
#menu ul {
	text-align: center;	
}
#menu a {
	text-decoration: none;
	margin: 0 30px 0 30px;
	color: #A4A2A2;
}
#fondo {
	background: url(../img/dance_1.jpg);
	color: white;
	padding-bottom: 60px;
}
.studio h1 {
	padding-left: 150px;
	padding-top: 100px;
	font-size: 60px;
}
.studio p {
	padding-left: 150px;
	padding-top: 0px;
	font-size: 12px;
	width: 180px;
}
.studio h3 {
	padding-left: 170px;
	padding-top: 30px;
	font-size: 12px;
	
}
.oferta {
	background: url(../img/textura_2.jpg);
}
.oferta p {
	text-align: center;
	margin-top: 80px;
	font-size: 20px;
	color: #0F023F;

}
#deco {
	text-align: center;
}
#deco img {
	width: 200px;
}
.oferta h3 {
	text-align: center;
	font-size: 12px;
	padding-bottom: 60px;
	padding-top: 0;	
}
.col, .boton-oferta h3 {
	text-align: center;
	color: white;
}
#boton-oferta {
	background: #0F023F;
	width: 30px;
	height: 40px;
	margin-bottom: 40px;
}
.grid-noGutter-noBottom #left {
	background: url(../img/instructor_4.jpg) no-repeat;
	background-size: 100% auto;
}
.grid-noGutter-noBottom #right {
	background: url(../img/profesor_9.jpg) no-repeat;
	background-size: 100% auto;
}
.grid-noGutter-noBottom .col {
	border: 1px solid #0F023F;
	height: 340px;
}
.profes h3 {
	
	text-align: center;
	color: white;
	font-size: 14px;

}
.profes  {
	position: relative;
}
.boton-profes {
	position: absolute;
	background-color: #0F023F;
	bottom: 0px;
	border-radius: 4px;
	left: 520px;
	height: 50px;
	width: 400px;
}
.poema {
	background: url(../img/textura_2.jpg);
}
.poema p {
	color: #0F023F;
}
.poema .col p {
	text-align: center;
	margin-top: 80px;
	font-size: 40px;
}
.visitanos {
	background: #0F023F;
}
#textos, #mapa {
	display: inline-block;
}
.visitanos #textos {
	color: white;
	top: 50px;
	left: 50px;
}
.visitanos p, iframe {
	display: inline-block;
}